@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.blog-content{
    padding: 36px 0;
}
.blog-content b{
    margin-bottom:  10px;   
    font-weight: 500;

}
.blog-content p{
     margin-bottom:  10px;   
}
.blog-content h1{
    margin-bottom:  10px;   
    font-weight: 600;
    font-size: 26px;
}
.blog-content h2{
    margin-bottom:  10px;   
    font-weight: 500;
    font-size: 22px;
}

.blog-content h3{
    margin-bottom:  10px;   
    font-weight: 500;
    font-size: 18px;
}
body {
  background-color: #f1f5f9; /* This is tailwind's 'bg-slate-100' */
  color: #0f172a; /* This is tailwind's 'text-slate-900' */
}

